body {
    background-color: rgb(98, 171, 238);
    font: normal 1em Arial;
    color: white;
}
header {
    text-align: center;
}
main {
    background-color: white;
    width: 500px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    color: black;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.356);
}
#num {
    width: 150px;
}
#adicionados {
    width: 200px;
    margin: 10px 0px;
}
footer {
    font-style: italic;
    text-align: center;
}